@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Rate Log</h1>
    <p>1=> Sistem Kur değerlerini 10 saniyede 1 <a href="https://finans.truncgil.com/today.json">https://finans.truncgil.com/today.json</a> adresinden almaktadır.</p>
    <p>2=> Rate Log sayfasına girince okuma işlemi başlıyor. Logout olunca okuma sona eriyor.</p>
    <p>3=> Okunan datalar json formatında "KurLog\KurLog\KurLog\wwwroot\RateLog\rateLog.json" dosyasına kaydediliyor.</p>
    <p>4=> Kullanıcı dataları json formatında "KurLog\KurLog\KurLog\wwwroot\User\user.json" dosyasına kaydediliyor.</p>
    <p>5=> Kullanıcı şifreleri Privat Key ile Hash işlemine tabi tutulmuştur.</p>
    <p>6=> Şifreler şifreleme politikasına uygun olarak oluşturulmuştur.</p>
</div>